# for xcode to track user data: specific to developer's local environment
*/xcuserdata/*
UserInterfaceState.xcuserstate

# for macos to track user data: specific to developer's local environment
.DS_Store

